.product-pane {
    width: 300px;
    height: 600px;
    padding: 20px;
    background-color: white;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: 'levenim_mt', sans-serif;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-title {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.product-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(192, 189, 189);
    width: 230px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
}

.product-tags {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 20px 0;
}

.product-tags::before,
.product-tags::after {
    content: '';
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: rgb(192, 189, 189);;
    position: absolute;
    left: -20px;
}

.product-tags::before {
    top: 0;
}

.product-tags::after {
    bottom: 0;
}

.tag {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc8c8;
}
