body {
  background-color: #f0f0f0;
}

.wrapper-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
